@font-face {
    font-family: 'Hack';
    src: url('../resources/Hack-Regular.ttf');
}

* {
    font-family: "Hack";
    color: #abb2be;

}

html, body {
    box-sizing: border-box;
    
    margin: 0;
    padding: 10px;
    width: 100%;    /* 确保 body 占满整个视口 */
    height: 100%;   /* 确保 body 占满整个视口 */
  }
  

body {
    
    background-color: #1e2335;
    font-size: 20px;
    line-height: 30px;
}




.console {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #353d5b;
    margin-top: 10px;
    border-radius: 10px;
}

#guide {
    margin-top: 0;
}


#input {
    border-radius: 10px;
    display: block;  
    width: 100%;
    height:fit-content;
    box-sizing: border-box;
    resize: none;            /* 禁止调整大小 */
    font-family: inherit;    /* 继承父元素的字体 */
    font-size: inherit;      /* 继承父元素的字体大小 */
    line-height: inherit;    /* 继承父元素的行高 */
    padding: 10px;              /* 去除内边距 */
    margin-top: 10px;               /* 去除外边距 */
    border: none;            /* 去除边框 */
    background-color: #353d5b; /* 去除背景色 */
    outline: none;           /* 去除聚焦时的轮廓（边框） */
}




.stress, .red {
    color: #db7077;
}

.info, .blue {
    color: #52a3ea;
}

.content, .green {
    color: #7cc48c;
}

.warn, .yellow {
    color: #ce9b60;
}

.wild {
    color:#b16ce6
}
